h1 {
	color: mediumvioletred;
	font-size: 30px;
}
h2 {
	color: salmon;
	font-size: 24px;
}
	.container{
		display:flex;
	}

	.container div{
		border: 2px solid pink;
		padding: 6px;
		margin: 3px;
	}

	.box-1{
		flex:4;
		background-color: pink;
	}
	.box-2{
		flex:1;

